*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  color: white;
  background-color: black;
  border: 1px solid black;
  width: 100%;
  height: 35px;
  float: left;
  display: flex;
  align-items: center;
  text-align: center;
}


/*======header======*/
header img{
  width: 7%;
  height: 100%;
  float: left;
  background-color: white;
  border-left: 1px solid white;
}

header span{
  cursor: pointer;
  width: 10%;
  height: 100%;
  float: left;
  font-weight: bold;
  padding-top: 8px;
}

header ul {
  border: 1px;
  width: 73%;
  height: 100%;
  float: left;
  list-style: none;
}

header ul li {
  cursor: pointer;
  font-weight: bold;
  padding-top: 8px;
  float: left;
  width: 11.1111%;
  height: 100%;
  border-left: 1px solid white;
}
header form {
  float: left;
  width: 10%;
  height: 100%;
}

header form input {
  float: left;
  width: 100%;
  height: 70%;
}

/*======SECTION 1======*/
.section1 {
  padding: 0 5px;
  font-size: 18px;
  font-weight: bold;
  color: gray;
  width: 100%;
  height: 50px;
  float: left;
}

.section1 .span1{
  padding-top: 15px;
  float: left;
  width: 20%;
  height: 100%;
}

.section1 div {
  float: left;
  width: 60%;
  height: 100%;
}

.section1 .span2{
  padding-top: 15px;
  text-align: end;
  float: left;
  width: 20%;
  height: 100%;
}

/*======SECTION 2======*/
.section2 {
  padding: 5px;
  width: 50%;
  height: 400px;
  float: left;
}

.section2 img {
  cursor: pointer;
  width: 100%;
  height: 100%;
}

/*======SECTION 3=======*/
.section3 {
  width: 50%;
  height: 400px;
  float: left;
}

.section3 div {
  padding: 5px;
  width: 50%;
  height: 50%;
  float: left;
}

.section3 div img {
  cursor: pointer;
  width: 100%;
  height: 100%;
}

/*=====SECTION 4=====*/
.section4 {
  padding-left: 10px;
  width: 100%;
  height: 50px;
  float: left;
  display: flex;
  align-items: center;
}

.section4 span {
  padding-left: 10px;
  border-left: 5px solid red;
  font-size: 20px;
  font-weight: bold;
  color: gray;
}

.section5 {
  width: 100%;
  float: left;
}

.section5 div {
  padding: 0 10px;
  width: 33.3333%;
  height: 100%;
  float: left;
}

.section5 div img {
  cursor: pointer;
  width: 100%;
  float: left;
  margin-bottom: 20px;
}

.section5 div h3 {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}

.section5 div p {
  margin-bottom: 10px;
  width: 100%;
  font-weight: lighter;
  float: left;
}

.section5 div span {
  border-left: 5px solid rgba(0, 102, 255, 0.909);
  padding-left: 5px;
  color: grey;
  font-weight: bold;
  margin-bottom: 20px;
}


@media screen and (max-width: 700px) {
  header {
    display: flex;
    justify-content: space-between;
  }
  header ul {
    display: none;
  }
  .section2{
    width: 100%;
    float: left;
  }
  .section3{
    width: 100%;
    float: left;
  }
}